# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Documents\Timer_AJ_HW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
